*:after, *:before, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

#wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #1870ed 0, #f18f88 100%);
}

#wrapperContainer {
    display: flex;
    width: 50rem;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#timer {
    display: flex;
    background-color: black;
    padding: 6rem 20%;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 35px;
    position: relative;
}

#btn {
    position: absolute;
    top: 12rem;
    right: 2rem;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 14px 24px;
    border: none;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: linear-gradient(to right, rgb(230, 30, 77) 0%, rgb(227, 28, 95) 50%, rgb(215, 4, 102) 100%);
    color: #fff;
}


p {
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info {
    font-size: 65px;
}

.header {
    color: gray;
    font-size: 10px;
}

.seperator {
    color: gray;
    font-size: 40px;
}

@media only screen and (max-width: 650px) {
    #timer {
        flex-direction: column;
        padding: 4rem 5rem;
        row-gap: 25px;
    }
    .seperator{
        display: none;
    }

    #btn {
        top: 23rem;
        right: 4rem;
    }

}